body {
  align-items: center;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
}

.whack-a-mole--running .pause-button,
.whack-a-mole--running .restart-button,
.whack-a-mole--paused .start-button,
.whack-a-mole--paused .restart-button,
.whack-a-mole--game_over .restart-button {
  display: inline-block;
}

.moles {
  display: grid;
  font-size: calc(1rem + 3vw);
  grid-gap: 0.75em;
  grid-template-columns: 1fr 1fr 1fr;
  height: 90vw;
  margin: 1rem auto 0;
  max-height: 15em;
  max-width: 15em;
  width: 90vw;
}

.mole,
.restart-button,
.start-button,
.pause-button {
  background-color: transparent;
  border: 2px solid teal;
  cursor: pointer;
  font: inherit;
}

.restart-button,
.start-button,
.pause-button {
  display: none;
}

.mole__inner {
  display: inline-block;
  height: 1.3em;
  overflow: hidden;
}

.mole__inner span {
  display: inline-block;
  transform: translateY(2em);
  transition: transform 0.25s ease-in-out;
}

.mole--alive .mole__inner span {
  transform: translateY(0);
}

.whack-a-mole--game_over .game-timer__container {
  visibility: hidden;
}

.game-timer__inner {
  background-color: teal;
  height: 1rem;
  margin: 0.5rem 0;
  transform-origin: left center;
  transition: transform 0.9s;
}

.score {
  margin-top: 1rem;
  text-align: center;
}
