body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
}

.whack-a-mole--running .pause-button,
.whack-a-mole--running .reset-button,
.whack-a-mole--paused .start-button,
.whack-a-mole--paused .reset-button,
.whack-a-mole--pre_start .start-button {
  display: inline-block;
}

.moles {
  display: grid;
  font-size: calc(1.5rem + 2vw);
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  height: 90vw;
  margin: 1rem auto 0;
  max-height: 25em;
  max-width: 25em;
  width: 90vw;
}

.mole,
.reset-button,
.start-button,
.pause-button {
  background-color: transparent;
  border: 2px solid teal;
  cursor: pointer;
  font: inherit;
}

.reset-button,
.start-button,
.pause-button {
  display: none;
}

.mole__inner {
  display: inline-block;
  height: 2em;
  overflow: hidden;
}

.mole__inner span {
  display: inline-block;
  transform: translateY(2em);
  transition: transform 0.25s ease-in-out;
}

.mole--alive .mole__inner span {
  transform: translateY(0);
}
